#hero-section{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    height: 760px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.hero-circle{
    position: absolute;
    left: auto;
    top: 130px;
    align-items: center;
}
.microphone{
    position: absolute;
    left: auto;
    top: 205px;
    justify-content: center;
    display: flex;

}
.hero-text{
    margin-top: 300px;
    color: white;
    display: flex;
    flex-direction: column;
}
.hero-text h1, p {
    text-align: center;
}
.hero-text h1 {
    font-weight: 700;
    font-size: 60px;
    color: white;
    margin-top: 32px;
}
.hero-text p {
    font-size: 16px;
    color: white;
    margin-bottom: 16px;
}
.button-group{
    display: flex;
    justify-content: center;
    gap: 8px;
}
#button-primary{
    padding: 12px 16px !important;
    text-align: center !important;
    width: 201px;
    height: 44px;
}
#button-secondary{
    padding: 12px 16px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid #00FF88;
    border-radius: 40px;
    font-size: 16px;
}
.about-section {
    background-color: #1A0B2E;
    color: white;
    text-align: center;
}
.about-section h1 {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 100px;
}
.about-section p {
    font-size: 16px;
}
.line{
  margin: 80px 100px;
  color: #E5E7EB;
  opacity: 10%;
  height: .05px;
  border: none;

 
}
.stats-container{
    display: flex;
    justify-content: space-around;
    background-color: #1A0B2E;
    color: white;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
.stats h2 {
    color: #00FF88;
    font-size: 48px;
    font-weight: 700;
    
}
#card-text{
    grid-area: text;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}
#audio{
    grid-area: audio;
    padding: 40px;
    border-radius: 20px;
    background-color: #3511656d;
    padding-top: 120px;
    
}
#mobile{
    grid-area: mobile;
    padding: 40px;
    border-radius: 20px;
    background-color: #3511656d;
}
#global{
    grid-area: global;
    padding: 40px;
    border-radius: 20px;
    background-color: #3511656d;
}
#exclusive{
    grid-area: exclusive;
    padding: 40px;
    border-radius: 20px;
    background-color: #3511656d;
}
#rich{
    grid-area: rich;
    padding: 40px;
    border-radius: 20px;
    background-color:#3511656d;
}

.card-container{
    display: grid;
    gap: 20px;
    /* margin: 40px 200px; */
    background-color: #230E3D;
    padding: 40px 200px;
    color: white;
    grid-template-areas: 
             "text text text"
             "audio mobile mobile"
             "audio global global"
             "exclusive exclusive rich"

}
.card-container p{
    text-align: left;
    padding-top: 16px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.555);
}
.card-container h5 {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    padding-top: 16px;
}
.host-container{
    background-color: #230E3D;
    padding: 120px 200px;

}
.host{
    display: flex;
    justify-content: space-around;
    background-color:#3511656d ;
    border-radius: 24px;
    padding: 40px;
    gap: 24px;
    text-align: left;
}
.host-social {
    display: flex;
    gap: 8px;
   
}
.host-social img{
    border: 1px solid black;
    border-radius: 15px;
    padding: 2px;
}
.host-img{
    width: 400px;
    height: 200px;
}
.host-container h1{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-bottom: 40px;
}
.host-card h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    color: white;
}
.host-card p {
    font-size: 16px;
    text-align: left;
    color: rgba(255, 255, 255, 0.655);
    padding-bottom:12px ;
}